body{
    font-family: monospace;
    font-size: 15px;
}

input{
    width: auto;
    margin: 10px;
    border-left: 2px solid lightseagreen;
    border-right: 2px solid lightpink;
    border-radius: 8px;
}